.home {
  position: relative;
}

.photo {
  z-index: 2;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;

  position: absolute;
  top: 50%;
  transform: translateY(50%);
}

.layoutContainer {
  display: inline-block;
  max-width: 50%;
  margin: 0 auto;
  padding: 4px 8px;
}

.globe {
  position: absolute;
  top: 0;
  right: 0;
}
